.App {
  font-family: sans-serif;
  text-align: center;
}

.split {
  height: 90%;
  width: 5%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.splitright {
  height: 90%;
  width: 80%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  /*background-color: #111;*/
}

/* Control the right side */
.right {
  right: 0;
  /*background-color: red;*/
}

/* If you want the content centered horizontally and vertically */
.centered {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.qtrsbtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  min-width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-weight: bold;
  cursor: pointer;
}

.headertitle {
  background-color: #3c4b64;
  border: none;
  color: white;
  width: 100%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px;
  font-weight: bold;
  cursor: pointer;
}